            <footer class="sidebar__information__footer">
                <a href="https://twitter.com/marcocalzolari" target="_blank">
                	<i class="fa fa-twitter-square fa-lg"></i></a>&nbsp;&nbsp;
                <a href="http://www.linkedin.com/in/marcocalzolari" target="_blank">
                	<i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;
                <a href="https://plus.google.com/+MarcoCalzolari/" target="_blank">
                	<i class="fa fa-google-plus-square fa-lg"></i></a>&nbsp;&nbsp;
                <a href="http://fb.com/marcocalzolari" target="_blank">
                	<i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
				<a href="http://marcocalzolari.com" target="_blank">
                	<i class="fa fa-external-link-square fa-lg"></i></a>
            </footer>